<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="digital.sogood.livestreamfails">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".mobile.FailsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LivestreamFails"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:label,android:supportsRtl">
        <activity
            android:name="digital.sogood.livestreamfails.mobile.ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO: Replace with fragment once navigation component is stable -->
        <activity
            android:name=".mobile.ui.details.DetailsActivity"
            android:label="@string/activity_details"
            android:parentActivityName=".mobile.ui.main.MainActivity" />

        <activity android:name="digital.sogood.livestreamfails.mobile.ui.streamer.StreamerActivity" />
    </application>
</manifest>